/dataset
/kafka-docker/kafka-data/
/kafka-docker/elastic-data/
/kafka-docker/kibana-data/
/kafka-docker/logstash-data/

spectre-code/spectre-ann/prototype/simulation_csv/
spectre-code/spectre-ann/prototype/database/predictions.db
